fastapi==0.115.6
uvicorn[standard]==0.32.1
alembic==1.14.0
sqlalchemy==1.4.53
python-dotenv==1.0.1
python-multipart==0.0.20
PyPDF2==3.0.1
python-docx==1.1.2
openai==1.58.1
pgvector==0.3.6
langchain==0.3.7
langchain-openai==0.2.8
